<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Ecommerce</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h3>Nav placeholder</h3>
        <hr>
        <br>
        {% block content %}
        <h1>Welcome to our Ecommerce Store</h1>
        {% endblock %}

        
    </body>
</html>